@(assignment: Form[forms.AssignmentInfoForm])(implicit request: RequestHeader)
@import helper._
@main("Welcome to KIP") {

<form action="@routes.AdminController.addAssignment()", method="post">
    @CSRF.formField
    <div class="form-group col-md-6">
    <label class="control-label col-sm-2">title</label>
        <input type = "text" name="title" class="form-control" placeholder="Enter title"/><br>
    <p class="errorLines">@assignment("title").error.map{error => should not be empty }</p>
    <label class="control-label col-sm-2" >Description</label>
        <textarea rows="4" name="description" class="form-control" placeholder="Enter description"></textarea><br>
    <p class="errorLines">@assignment("description").error.map{error => should not be empty }</p>
    <button name="submit" type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
}