@()(implicit request: RequestHeader)
<nav id="menubar" class="navbar fixed-top navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">logo</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@routes.HomeController.goToSignUp()" class="menuItem errorLines">Sign Up</a>
                <a href="@routes.HomeController.goToLogin()" class="menuItem errorLines">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div id="myjumbo" class="jumbotron">
    <div class="container">
        <div class="row-sm-4 row-sm-2 row-md-6 ">
            <h1 class="centerAlign textColor">One Page wonder</h1>
        </div>
        <div class="row-sm-4 row-sm-2 row-md-6 ">
            <p class="centerAlign textColor">Will rock your socks off</p>
        </div>
        <div class="row-sm-4 row-sm-2 row-md-6">
            <p class="centerAlign">
                <a id="mybutton" class="btn btn-danger btn-lg" href="#" role="button">Learn rock</a>
            </p>
        </div>
    </div>
</div>