@(user: Form[forms.PasswordInfoForm])(implicit request: RequestHeader)
@import helper._
@main("Welcome to KIP") {

<form action="@routes.HomeController.changePassword()", method="post">
    @CSRF.formField
    <div class="form-group">
    <label>Email</label> <input type = "text" name="email"/><br>
    <p class="errorLines">@user("email").error.map{error => not a valid email }</p>
    <label>Password</label><input type = "password" name="pwd"/><br>
    <p class="errorLines">@user("pwd").error.map{error => password required }</p>

    <label>Password</label><input type = "password" name="confirm_pwd"/><br>
    <p class="errorLines">@user("confirm_pwd").error.map{error => password is not matching }</p>
    @if(user.hasGlobalErrors) {
    <ul>
        @for(error <- user.globalErrors) {
        <li class="errorLines">@error.message</li>
        }
    </ul>
    }
    <button name="sumbmit" type="submit">change Password</button>
    </div>
</form>
}