@(user: Form[forms.PasswordInfoForm])(implicit request: RequestHeader)
@import helper._
@main("Welcome to KIP") {

<form action="@routes.HomeController.changePassword()", method="post">
    @CSRF.formField
    <div class="form-group col-md-6">
    <label class="control-label col-sm-2">Email</label>
        <input type = "text" name="email"class="form-control" placeholder="Enter email"/><br>
    <p class="errorLines">@user("email").error.map{error => not a valid email }</p>
    <label class="control-label col-sm-2">Password</label>
        <input type = "password" name="pwd" class="form-control" placeholder="Enter password"/><br>
    <p class="errorLines">@user("pwd").error.map{error => password required }</p>

    <label class="control-label col-sm-4">Confirm Password</label>
        <input type = "password" name="confirm_pwd"class="form-control" placeholder="Enter confirm password"/><br>
    <p class="errorLines">@user("confirm_pwd").error.map{error => password is not matching }</p>
    @if(user.hasGlobalErrors) {
    <ul>
        @for(error <- user.globalErrors) {
        <li class="errorLines">@error.message</li>
        }
    </ul>
    }
    <button name="sumbmit" type="submit" class="btn btn-default">change Password</button>
    </div>
</form>
}