@()
<nav id="menubar" class="navbar fixed-top navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">logo</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@routes.HomeController.profile()" class="menuItem errorLines">Profile</a>
                <a href="@routes.HomeController.viewAssignmentUser()" class="menuItem errorLines">View Assignment</a>
            </li>
        </ul>
    </div>
</nav>