@(userList: List[UserInfo])(implicit request: RequestHeader)
@import helper._
@main("Welcome to KIP") {
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>First_Name</th>
            <th>Email</th>
            <th>Mobile_Number</th>
            <th>gender</th>
        </tr>
        </thead>
        <tbody>
        @for(user <- userList) {
        <tr>
            <td></td>
            <td>@user.first_name</td>
            <td>@user.email</td>
            <td>@user.mobile_number</td>
            <td>@user.gender</td>
            <td><a href="@routes.AdminController.enableUser(user.id.toString)">Enable</a></td>
            <td><a href="@routes.AdminController.disableUser(user.id.toString)">Disable</a></td>
        </tr>
        }
        </tbody>
    </table>
</div>
}