@(userList: List[UserInfo])(implicit request: RequestHeader)
@import helper._
@main("Welcome to KIP") {

<div class="table-responsive  col-md-8">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>First_Name</th>
            <th>Email</th>
            <th>Mobile_Number</th>
            <th>gender</th>
            <th>Enable</th>
            <th>Disable</th>
        </tr>
        </thead>
        <tbody>
        @for(user <- userList) {
        <tr>
            <td>@user.id</td>
            <td>@user.first_name</td>
            <td>@user.email</td>
            <td>@user.mobile_number</td>
            <td>@user.gender</td>
            <td><a @if(user.isEnable) { class = "disabled" }  href="@routes.AdminController.enableUser(user.id.toString)">Enable</a></td>
            <td><a @if(!user.isEnable) { class = "disabled" } href="@routes.AdminController.disableUser(user.id.toString)">Disable</a></td>
        </tr>
        }
        </tbody>
    </table>
</div>
}